<header>
  <nav>
    <ul class="menu">
      <li><%= link_to "Hosts", hosts_path %></li>
      <li><%= link_to "Servers", servers_path %></li>
      <li><%= link_to "Websites", websites_path %></li>
      <li><%= link_to 'Inactive servers', all_servers_path %></li>
    </ul>
  </nav>
</header>
